# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.xlsx
*.xls

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/


# private stuff

set-point-attender-firebase.json

constants.py

